[submodule "src/main/java/com/spring_boot_core"]
	path = src/main/java/com/spring_boot_core
	url = git@github.com:hongssam/spring-boot-core.git
	branch = develop
[submodule "src/main/resources/spring_boot_config"]
	path = src/main/resources/spring_boot_config
	url = git@github.com:hongssam/spring-boot-config.git
    branch = develop
